.heroBanner {
  margin: 2rem 0;
  text-align: center;
}

.logoWide {
  margin-bottom: 2rem;
  max-width: 685px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.tldrSection {
  flex: 1;
}

.sectionRow {
  justify-content: space-evenly;
}

.sectionCol {
  flex: initial;
  width: fit-content;
}
