language: node_js
env:
  global:
    - CXX=g++-4.8
cache: yarn
matrix:
  include:
    - node_js: "12"
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
install:
  - yarn
script:
  - yarn run ci
deploy:
  - provider: script
    script: bash scripts/deploy.sh
    on:
      tags: true
      all_branches: true
    skip_cleanup: true
notifications:
  email: false
