body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  padding: 11px 27px;
  background-color: #1a2b34;
  color: #e0e0e0;
  position: relative;
  z-index: 20;
}

.logo-wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: small;
  font-weight: lighter;
}

.logo {
  padding-right: 0.5em;
  width: 2.4em;
  height: 2.4em;
}

.logo-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 18px;
}

.code-editor-container {
  display: flex;
  width: 100%;
}

.playground-container {
  display: flex;
}

.option {
  display: flex;
  margin: 10px 0;
  color: #6a6a6a;
}

.option > input {
  margin-left: 5px;
  width: 46px;
}

.sidebar {
  background-color: #f6f6f6;
  width: 209px;
  padding-left: 10px;
  border-right: 1px solid #1a2b34;
}

.sidebar-title {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 5px;
}
