.editor {
  position: relative;
  flex: 1;
  border-bottom: var(--playground-border);
  min-inline-size: 0;
  min-block-size: 0;
  font-size: 12px;
}

.editorName {
  position: absolute;
  opacity: 0.4;
  z-index: 10;
  inset-block-end: 1px;
  inset-inline-start: 1px;
  border-start-end-radius: 4px;
  background: #000;
  padding: 0.25em 0.5em;
  pointer-events: none;
  color: #fff;
  line-height: 1.25;
}
