.playground {
  display: flex;
  flex: 1;
  min-width: 0;
  height: calc(100svh - var(--ifm-navbar-height));
}

.options {
  border-bottom: var(--playground-border);
  width: 224px;
}

.editors {
  display: flex;
  flex: 1;
  min-width: 0;
  min-height: 0;
}

@media (max-width: 996px) {
  .editors {
    flex-direction: column;
  }
}

main {
  display: flex;
  flex: 1;
  min-height: 0;
}

details {
  border-bottom: var(--playground-border);
  padding: 15px 10px 10px;
}

label {
  display: block;
  margin: 10px 0;
  font:
    12px Consolas,
    Courier New,
    Courier,
    monospace;
}

input[type="number"] {
  max-width: 48px;
}
